name: TSE Review Alert

on:
  issues:
    types: [labeled]

jobs:
  notify_slack:
    if: github.event.label.name == 'tse_review'
    runs-on: ubuntu-latest
    steps:
      - name: Send Slack Notification
        uses: slackapi/slack-github-action@v1.24.0
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        with:
          # We use toJSON() to automatically handle quotes in the title.
          # Note: We do NOT put quotes around ${{ toJSON(...) }} because it provides them.
          payload: |
            {
              "text": "TSE Review Requested: ${{ github.event.issue.html_url }}",
              "blocks": [
                {
                  "type": "header",
                  "text": {
                    "type": "plain_text",
                    "text": ${{ toJSON(format('Review: {0}', github.event.issue.title)) }},
                    "emoji": true
                  }
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "<!subteam^S0A12AJGEMU> a new review has been requested."
                  }
                },
                {
                  "type": "section",
                  "fields": [
                    {
                      "type": "mrkdwn",
                      "text": "*Requested By:*\n${{ github.event.sender.login }}"
                    },
                    {
                      "type": "mrkdwn",
                      "text": "*Author:*\n${{ github.event.issue.user.login }}"
                    }
                  ],
                  "accessory": {
                    "type": "button",
                    "text": {
                      "type": "plain_text",
                      "text": "View Issue",
                      "emoji": true
                    },
                    "url": "${{ github.event.issue.html_url }}",
                    "action_id": "button-action"
                  }
                }
              ]
            }
