name: TSE Review Alert

on:
  issues:
    types: [labeled]

jobs:
  notify_slack:
    if: github.event.label.name == 'tse_review'
    runs-on: ubuntu-latest
    steps:
      - name: Send Slack Notification
        uses: slackapi/slack-github-action@v1.24.0
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        with:
          payload: |
            {
              "text": "TSE Review Requested: ${{ github.event.issue.html_url }}",
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": ":rotating_light: *TSE Review Requested* <!subteam^S0A12AJGEMU>"
                  }
                },
                {
                  "type": "divider"
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "*Issue:* <${{ github.event.issue.html_url }}|${{ toJSON(github.event.issue.title) }}>"
                  }
                },
                {
                  "type": "section",
                  "fields": [
                    {
                      "type": "mrkdwn",
                      "text": "*Requested By:*\n${{ github.event.sender.login }}"
                    },
                    {
                      "type": "mrkdwn",
                      "text": "*Author:*\n${{ github.event.issue.user.login }}"
                    }
                  ]
                }
              ]
            }
