name: TSE Review Alert

on:
  issues:
    types: [labeled]

jobs:
  notify_slack:
    if: github.event.label.name == 'tse_review'
    runs-on: ubuntu-latest
    steps:
      - name: Send Slack Notification
        uses: slackapi/slack-github-action@v2.1.1
        env:
          ISSUE_TITLE: ${{ github.event.issue.title }}
          ISSUE_URL: ${{ github.event.issue.html_url }}
          SENDER: ${{ github.event.sender.login }}
          AUTHOR: ${{ github.event.issue.user.login }}
          GROUP_ID: "S0A12AJGEMU"
        with:
          webhook-type: incoming-webhook
          webhook: ${{ secrets.SLACK_WEBHOOK_URL }}
          payload: |
            {
              "text": "TSE Review Requested: <${{ env.ISSUE_TITLE }}|${{ env.ISSUE_URL }}>",
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": ":rotating_light: *TSE Review Requested* <!subteam^${{ env.GROUP_ID }}> \n*Issue:* <${{ env.ISSUE_URL }}|${{ env.ISSUE_TITLE }}>"
                  }
                },
                {
                  "type": "divider"
                },
                {
                  "type": "section",
                  "fields": [
                    {
                      "type": "mrkdwn",
                      "text": "*Review Requested By:*\n${{ env.SENDER }}"
                    },
                    {
                      "type": "mrkdwn",
                      "text": "*Author:*\n${{ env.AUTHOR }}"
                    }
                  ]
                }
              ]
            }
