name: TSE Review Alert

on:
  issues:
    types: [labeled]

jobs:
  notify_slack:
    if: github.event.label.name == 'tse_review'
    runs-on: ubuntu-latest
    steps:
      - name: Create Slack Payload
        id: slack_payload
        env:
          GROUP_ID: "S0A12AJGEMU"
          ISSUE_URL: ${{ github.event.issue.html_url }}
          ISSUE_TITLE: ${{ github.event.issue.title }}
          # The person who created the issue
          AUTHOR_LOGIN: ${{ github.event.issue.user.login }}
          # The person who added the label (The "Sender")
          REVIEW_REQUESTER: ${{ github.event.sender.login }}
        run: |
          jq -n \
            --arg group "$GROUP_ID" \
            --arg title "$ISSUE_TITLE" \
            --arg url "$ISSUE_URL" \
            --arg author "$AUTHOR_LOGIN" \
            --arg requester "$REVIEW_REQUESTER" \
            '{
              # Link is added here for the fallback text
              text: "<!subteam^\($group)> Review Requested: <\($url)|\($title)>",
              blocks: [
                {
                  type: "section",
                  text: {
                    type: "mrkdwn",
                    text: ":rotating_light: *TSE Review Requested* <!subteam^\($group)>"
                  }
                },
                {
                  type: "section",
                  text: {
                    type: "mrkdwn",
                    # Showing both the issue author and who asked for the review
                    text: "*<\($url)|\($title)>*\nIssue Author: \($author)\nReview Requested by: \($requester)"
                  }
                }
              ]
            }' > payload.json

      - name: Send Slack Notification
        uses: slackapi/slack-github-action@v1.24.0
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        with:
          payload-file-path: "./payload.json"
