name: TSE Review Alert

on:
  issues:
    types: [labeled]

jobs:
  notify_slack:
    # Only run if the specific label was added
    if: github.event.label.name == 'tse_review'
    runs-on: ubuntu-latest
    steps:
      - name: Send Slack Notification
        uses: slackapi/slack-github-action@v1.24.0
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
        with:
          # This special syntax <!subteam^ID> triggers the notification for the group
          payload: |
            {
              "text": "<!subteam^YOUR_GROUP_ID_HERE> Review Requested: ${{ github.event.issue.title }}",
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": ":rotating_light: *TSE Review Requested* <!subteam^S0A12AJGEMU>"
                  }
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "*<${{ github.event.issue.html_url }}|${{ github.event.issue.title }}>*\nRequested by: ${{ github.event.issue.user.login }}"
                  }
                }
              ]
            }
