name: TSE Review Alert

on:
  issues:
    types: [labeled]

jobs:
  notify_slack:
    if: github.event.label.name == 'tse_review'
    runs-on: ubuntu-latest
    steps:
      - name: Send Slack Notification
        uses: slackapi/slack-github-action@v1.24.0
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
          # We map the unsafe variables to ENV vars here.
          # The Action will safely read these into the payload.
          ISSUE_TITLE: ${{ github.event.issue.title }}
          ISSUE_URL: ${{ github.event.issue.html_url }}
          SENDER: ${{ github.event.sender.login }}
          AUTHOR: ${{ github.event.issue.user.login }}
          GROUP_ID: "S0A12AJGEMU"
        with:
          # We construct the JSON using the env variables we just defined.
          # Note: We must escaping quotes in the JSON template itself if needed,
          # but for env vars, we use the specific ${{ env.VAR }} syntax which helps.
          payload: |
            {
              "text": "TSE Review Requested: ${{ env.ISSUE_URL }}",
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": ":rotating_light: *TSE Review Requested* <!subteam^${{ env.GROUP_ID }}>"
                  }
                }
              ]
            }
